.ty-name {
    width: auto !important;
    height: auto !important;
    z-index: 1000 !important;
}

.ty-name div {
    background: rgba(255, 255, 255, .6);
    border: solid black 1px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    position: relative;
    border-radius: 3px;
    left: 20px;
    padding: 0 .5rem;
    margin-top: -7px;
}

.ty-name p {
    padding: 0;
    margin: 0 !important;
}

.ty-name span:first-of-type {
    position: absolute;
    left: -6px;
    top: 7px;
    background: rgba(255, 255, 255, .6);
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-top: transparent;
    border-right: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.ty-name span:last-of-type {
    width: 100%;
    display: block;
    padding: .1rem 0;
    white-space: nowrap;
}

.ty-popup {
    padding: .5rem;
    z-index: 0 !important;
}

.ty-popup section {
    border-radius: 4px;
    overflow: hidden;
    /*font-size: 14px;*/
    position: relative;
    text-align: center;
    right: 0.6rem;
}

.bgLeft {
    width: 5.0789rem;
    height: 4.48;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 6px;
}

.bgLeftInt {
    width: 2.6842rem;
    height: 4.48rem;
    background: linear-gradient(left, #4bcfab, #5bc1da);
    background: -webkit-linear-gradient(left, #4bcfab, #5bc1da);
    background: -o-linear-gradient(left, #4bcfab, #5bc1da);
    background: -moz-linear-gradient(left, #4bcfab, #5bc1da);
    background: -ms-linear-gradient(left, #4bcfab, #5bc1da);
    
    /* 标准的语法 */
}

.ty-popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}

.ty-popup header {
    text-align: center;
    background: #17b4a0;
    padding: .5rem 0;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}

.ty-popup ul li {
    text-align: center;
    white-space: nowrap;
}

.ty-popup ul li span {
    width: 60%;
    padding-left: 0.266667rem;
    display: inline-block;
    white-space: nowrap;
}

.ty-popup ul li span:first-of-type {
    height: 0.56rem;
    line-height: 0.56rem;
    width: 2.47rem;
    display: inline-block;
    color: #f2f3f8;
    font-size: 0.373333rem;
    text-align: left;
    /*background:-webkit-linear-gradient(left,#4bcfab, #5bc1da); 
    background: -o-linear-gradient(left,#4bcfab, #5bc1da); 
    background: -moz-linear-gradient(left,#4bcfab, #5bc1da); 
    background: linear-gradient(left,#4bcfab, #5bc1da); */
}

.ty-popup ul li:first-of-type span:first-of-type {
    padding-top: 0.266667rem;
}

.ty-popup ul li:first-of-type span:nth-child(2) {
    padding-top: 0.266667rem;
}

.ty-popup ul li:last-of-type span:first-of-type {
    padding-bottom: 0.266667rem;
}

.ty-popup ul li:last-of-type span:nth-child(2) {
    padding-bottom: 0.266667rem;
}

.ty-popup ul li span:nth-child(2) {
    height: 0.56rem;
    line-height: 0.56rem;
    width: 2.47rem;
    display: inline-block;
    color: #1c1c1c;
    /*background-color:#fff;*/
    font-size: 0.373333rem;
    text-align: left;
}

.ty-popup .leaflet-popup-content-wrapper {
    margin: 0 !important;
    background: transparent;
    box-shadow: none;
}

.ty-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0 !important;
    background: transparent;
    position: relative;
}

.ty-popup .leaflet-popup-tip-container {
    position: relative;
    top: -2px;
}

.rain-popup p {
    margin: .25rem 0;
    text-align: center;
}

.rain-popup .leaflet-popup-content {
    margin: 0 .25rem;
}